.DS_Store
*.log
*.pot
*.pyc
__pycache__/
build/
dist/
env/
.env
.venv
venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
*.sqlite3
coverage.xml
htmlcov/
node_modules/
staticfiles/
media/
*.swp
*.swo
*.idea/
.vscode/
*.egg-info/

